
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  z-index: -1;
}
.header{
  margin-top:3vh;
  width: 100vw;
  height: 6vh;
  background-color: #00000000;
  display: flex;
  align-items: center;
  gap: 2vh;
}
.header_info{
  font-size: 4.2vh;
  background-color: #00000000;
  margin-left: 4vh;
}
.header_space{
  height: 100%;
  width: 20vh;
}
.logo{
  height: 6vh;
  width: 15vh;
  background: #00000000;
  background-image: url('logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.menu_bar{
  scroll-behavior: smooth;
  overflow-x: auto;
  
  width: 100%;
  height: 25vh;
  background-color: #00000000;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0vh;
  padding-left: 1.5vh;
  padding-right: 3vh;
}
.m_b{
  min-width: 6vh;
  height: 4vh;
  border:0.2vh solid #ddd;
  border-radius: 5vh;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 2.2vh;
  flex-shrink: 0;
  color: #333;
}
.m_b_space{
  background-color: #00000000;
  min-width: 18vh;
  min-height: 18vh;
  border:0.1vh solid #00000000;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  gap: 0vh;
  align-items: center;
  justify-content:center;
  font-size: 2.2vh;
  flex-shrink: 0;
  color: #333;
}
.m_b_pic{
  width: 21vh;
  height: 17vh;
  background-color: #00000000;
  border-radius: 1vh;
  background-image: url('Menu pics/m2.png');
  background-size: cover;
  background-position: center;
}
.m_b_text{
  font-size: 2.5vh;
  font-weight: 800;
  font-family: Sans-Serif;
}
.chat_diagram{
  width: 100vw;
  height: 37vh;
  background-color: #00000000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('chat_diagram.jpg');
  margin-bottom: 80vh;
}